.App {
  display: flex;
  flex-direction: row;
}

.todoList-header {
  display: block;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
}
.todoList-header.max {
  width: 100%;
}
.todoList {
  width: 300px;
}

.todoList > div {
  padding: 10px;
}
.todoList-header__title {
  padding: 15px 0 5px;

}
.todoList-header__title span {
  color: #dbdbdb;
}
.todoList-task {

}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: #ffa600;
  border: black solid 1px;
}

.error {
  border-color: red;
}
.todoList-footer {
  display: flex;
  justify-content: center;
  width: 243px;
  height: 30px;
  margin: 25px 10px 10px 0;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.todoList-footer i {
  padding: 5px 10px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  background-color: #f7b71d;
  color: white;
  /*font-weight: bold;*/
  font: 400 13px Arial;
}
#all {
  border-radius: 15px 0 0 15px;
}
.classForCompleted {
  /*border-radius: 15px 0 0 15px;*/
}
#active {
  border-radius: 0 15px 15px 0;
}